body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
}

.bg-img{
    opacity: 0.2;
    position:fixed;
    background-repeat: repeat;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.bg-image{
    opacity: 0.2;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

/* nav  */
.nav {
    background: rgba(64, 64, 64, 0.423);
    /* padding: 1rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-container{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, black 20%, rgba(0, 0, 0, 0) 50%), url('images/cat16.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    height: 100vh;
    background-position: center;
}

.menu-text{   
    font-family: 'Mali', cursive;
    font-size: 8rem;
    font-weight: bolder;
    color:white;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-left: 3rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mali', cursive;
    background-image: url('images/t_logo.png');
    background-repeat: no-repeat;
    background-size: 10rem;
    background-position: left center; 
    font-size: 7rem; 
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    height: 200px;
    padding-left: 12rem; 
    margin-top: 8px;
}


.menu {
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: center;
}

.left-menu,
.right-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}


.menu a {
    text-decoration: none;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #ffb770;
    color: #110e03;
    size: 10px;
}
   

#faq{
    background-color: #ffb770;
    color: black;
    padding: 1rem;
    text-decoration: underline;
    text-shadow: #555;
    font-weight: bolder;
    border: 1px dotted white;
}


.faq-text{   
    font-family: 'Mali', cursive;
    font-size: 6rem;
    font-weight: bolder;
    color:white;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-left: 3rem;
}


.tagline{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-left: 3rem;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    gap: 3rem;
    font-size: 1.25rem;
    animation: msg-animation 1s ease-in-out;
}

@keyframes msg-animation {
    0% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0%);
    }
    
}


/* main section */ 
.main-section{
    padding: 6rem;
}

.main-heading{
    font-family: 'Mali', cursive;
    font-size: 4rem;
    color: #ee8c2f;
    font-weight: bolder;
}

#msg{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1.5rem;
    margin-top: -1rem;
    text-align: justify;
}

.faq-container {
    background-color: #fff;
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.faq-section {
    margin-bottom: 40;
    margin-top: 6rem;
}

.faq-section h2 {
    font-family: 'Mali', cursive;
    font-size: 3rem;
    font-weight: bold;
    color: #ee8c2f;
    margin-bottom: 10px;
    color: #ff9800;
    border-bottom: 0.20rem solid #ffb770;
    padding-bottom: 1rem;
}

.faq-item {
    margin-bottom: 1.5rem;
}

.faq-question {
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 0.20rem solid #ee8c2f;
}

.faq-question:hover {
    background-color: #ffb770;
}

.faq-answer {
    display: none;
    max-width: 50%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
}

/* contact form for more infp */

.contact-form {
    margin-top: 4rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.contact-form h2 {
    font-family: 'Mali', cursive;
    font-size: 3rem;
    font-weight: bold;
    color: #ee8c2f;
    margin-bottom: 10px;
    color: #ff9800;
    /* border-bottom: 0.20rem solid #ffb770; */
    padding-bottom: 1rem;   
    margin-bottom: 2rem;
}

.contact-form label {
    font-family: 'Montserrat', sans-serif;
    display: block;
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: black;
}

.contact-form input,
.contact-form textarea {
    width: 50%;
    padding: 0.6rem;
    margin-bottom: 1.2rem;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 1.1rem;
    
}

.contact-form button {
    font-family: 'Mali', cursive;
    width: 14rem;
    text-align: center;
    font-weight: bold;
    background-color: #ffb770;
    color: #110e03;
    padding: 1rem 2rem;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
    border: 0.25rem solid #ee8c2f;
}

.contact-form button:hover {
    background-color: #ee8c2f;
    color: white;
}

/* enlarge animation keyframe */
@keyframes enlarge {
    0% {
        transform:scale(1);
    }
    100% {
        transform: scale(1.3);
    }   
}


/* footer */
footer {
    /* background-color: black; */
    color: white;
    padding: 1rem 0;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, black 80%, rgba(0, 0, 0, 0) 100%), url('images/cat14.jpg');
    /* background-size: cover; */
    /* background-position: center; */
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
}

.footer-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 2rem;
    margin-right: 40rem;
}

#footer-logo {
    width: 15rem;
    height: 15rem;
    margin-left: 12rem;
}

.footer-head a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    border: none;
    background-color: transparent;
    margin: 0 1rem;
}

.footer-head a:hover{
    animation: enlarge forwards 0.2s;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 1rem 2rem;
    border-top: 1px solid #ffb770;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.social-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-right: 40rem;
}

.social-section .icons {
    display: flex;
    gap: 1rem;
}

.social-section a {
    color: white;
    font-size: 1.5rem;
}

.social-section a:hover{
    
    animation: enlarge 0.3s forwards;
}

.social-section p {
    font-size: 0.8rem;
    margin: 0;
}
.fa-location-dot, .fa-clock, .fa-phone, .fa-envelope, .fa-facebook, .fa-instagram, .fa-twitter {
    font-size: 1.6rem;
}
